<!DOCTYPE html>
<html>
<title>API Document</title>

<xmp style="display:none;">
    {{>markdown}}
</xmp>

<script src="http://strapdownjs.com/v/0.2/strapdown.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="../resources/bootstrap.min.js"></script>
<link rel="stylesheet" href="../resources/bootstrap.min.css"/>


<script type="text/javascript">
    $().ready(function () {
        function loadHtml(element, url) {
            element.load(url, function(response, status){
                if(status == 'error'){
                    element.hide();

                    var elementToHide = element.attr('data-hide-on-load-error');
                    if(elementToHide !== undefined){
                        element.prev(elementToHide).hide();
                        element.parent(elementToHide).hide();
                    }
                }
            });
        }

        $('.curl').each(function () {
            var operationId = $(this).attr('data-operationId');
            loadHtml($(this), "../snippets/" + operationId + "/curl-request.html");
        });

        $('.snippet').each(function () {
            var operationId = $(this).attr('data-operationId');
            var ioType = $(this).attr('data-io');
            var mediaType = $(this).attr('data-type');

            var directory = operationId;
            if(mediaType == 'application/xml') {
                directory += "_xml";
            }

            loadHtml($(this), "../snippets/" + directory + "/http-" + ioType + ".html");
        });

    });
</script>

</html>
