<!DOCTYPE html>
<html>
<title>API Document</title>

<xmp style="display:none;">
    {{>markdown}}
</xmp>

<script src="http://strapdownjs.com/v/0.2/strapdown.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="../resources/bootstrap.min.js"></script>
<link rel="stylesheet" href="../resources/bootstrap.min.css"/>


<script type="text/javascript">
    $().ready(function () {

        $('.snippet').each(function () {
            $(this).html($(this).text());
        });

        $('[data-hide-on-load-error]').each(function () {
            element = $(this);

            if(!element.text().trim()) {
                element.hide();

                var elementToHide = element.attr('data-hide-on-load-error');
                if(elementToHide !== undefined){
                    element.prev(elementToHide).hide();
                    element.parent(elementToHide).hide();
                }
            }
        });
    });
</script>

</html>
